[submodule "tmux"]
    path = tmux
    url = ssipos.go.ro:~/repos/tmux
    branch = xfce
[submodule "vim"]
    path = vim
    url = ssipos.go.ro:repos/vim

[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = ssipos.go.ro:repos/oh-my-zsh
	branch = ssipos
