[Unit]
Description=User resume actions
After=suspend.target

[Service]
User=ssipos
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/bash /home/ssipos/.resume

[Install]
WantedBy=suspend.target

