[Unit]
Description=Autorandr
After=display-manager.service

[Service]
ExecStart=/usr/bin/srandrd -n /usr/bin/autorandr --change --force --debug
Restart=always

[Install]
WantedBy=user.target

