[Unit]
Description=Autorandr
After=xsession.target

[Service]
ExecStart=/usr/bin/srandrd -n /usr/bin/autorandr --change --force --debug
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target

