[Unit]
Description=Compositing manager
After=xorg.target

[Service]
ExecStart=/usr/bin/picom --backend glx --glx-no-stencil --vsync --shadow-exclude '! name~=""'
Environment=DISPLAY=:0

[Install]
WantedBy=wm.target

