[Unit]
Description=Picom Compositing manager
After=graphical.target

[Service]
ExecStart=/usr/bin/picom
Restart=always

[Install]
WantedBy=user.target

