[Unit]
Description=Picom Compositing manager
After=xsession.target

[Service]
ExecStart=/usr/bin/picom
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target

