[Unit]
Description=XAutolock
After=display-manager.service

[Service]
ExecStart=/usr/bin/xautolock -time 10 -notify 30 -notifier notify-send -locker /usr/bin/blurlock
Restart=always

[Install]
WantedBy=user.target

