[Unit]
Description=Start Xcape for Tab discoshit
Documentation=man:xcape(1) https://github.com/alols/xcape
After=graphical.target xsession.target

[Service]
ExecStart=/usr/bin/xcape -d -e "ISO_Level3_Shift=Tab"
Restart=always
RestartSec=5s

[Install]
WantedBy=default.target
